---
layout: base.njk
title: Zbulo Më Shumë
---

<section class="text-center p-24 bg-yellow-300 text-gray-900 mt-16">
  <h1 class="text-5xl font-bold mb-6">Nuk je rastësisht këtu</h1>
  <p class="text-xl">Je i thirrur për më shumë.</p>
</section>

<section class="p-12 bg-white max-w-3xl mx-auto text-lg text-gray-700">
  <p class="mb-4">
    Zoti të ka krijuar me një qëllim dhe një vend të posaçëm në zemrën e Tij.
    Në kishën tonë, ti nuk je thjesht një vizitor, je një njeri i çmuar që mirëpritet si pjesë e familjes.
  </p>
  <p>
    Eja këtë të Diel për të përjetuar dashurinë e Perëndisë, fuqinë e pranisë së Tij dhe shpresën që i jep kuptim jetës.
    Ka gjithmonë një vend për ty në shtëpinë e Zotit!
  </p>
</section>